<!DOCTYPE html>
<html lang="en">

<head>
    <title>TODO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>

</head>

<body>
    <h1>TODO</h1>

    <form action="/add" method="POST">
        <input type="text" id="Name" name="Name" placeholder="TODO">
        <input type="submit" value="+">
    </form>
    <br>

    <form class="sortable" hx-post="/sort-items" hx-trigger="end" hx-target="#hidden">
        <table>
            <tbody id="todoList" hx-target="closest tr" hx-swap="outerHtml swap:0.3s">
                {{ range . }}
                <tr>
                    <input type="hidden" name="item" value="{{.Id}}" />
                    <td>
                        <a href="/detail/{{.Id}}">
                            <div title="{{ .Date }}">{{ .Name }}</div>
                        </a>
                    </td>
                    <td><button hx-post="/complete/{{.Id}}">✔</button></td>
                </tr>
                {{ end }}
            <tbody>
        </table>
    </form>

    <div id="hidden" style="display: none;"></div>

    <script>
        htmx.onLoad(function (content) {
            var sortables = content.querySelectorAll(".sortable")
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i]
                new Sortable(todoList, {
                    animation: 150,
                })
            }
        })
    </script>



</html>
