<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.8.6"></script>
  <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
  <style>
    tr.htmx-swapping td {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  </style>

</head>

<body>
  <h1>TODO</h1>

  <form action="/add" method="POST">
    <input type="text" id="Name" name="Name" placeholder="TODO">
    <input type="submit" value="+">
  </form>
  <br>

  <form class="sortable" hx-post="/sort-items" hx-trigger="end" hx-target="#hidden">
    <table>
      <tbody id="todoList" hx-confirm="Are you sure?" , hx-target="closest tr" hx-swap="outerHtml swap:1s">
        {{ range . }}
        <tr>
          <input type="hidden" name="item" value="{{.Id}}" />
          <td>{{ .Name }}</td>
          <td><button hx-post="/complete/{{.Id}}">✔</button></td>
        </tr>
        {{ end }}
      <tbody>
    </table>
  </form>

  <div id="hidden" style="display: none;" />

  <script>
    htmx.onLoad(function (content) {
      var sortables = content.querySelectorAll(".sortable")
      for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i]
        new Sortable(todoList, {
          animation: 150,
        })
      }
    })
  </script>



</html>
